/* FONT DEFS */
@font-face {
    font-family: "main font";
    src: url(../assets/fonts/Carme/Carme-Regular.ttf);
  }
  
  /* CROSS PAGE STYLES */
  body {
    color: white;
    font-family: "main font", Verdana, sans-serif;
    margin:auto;
  }
  
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
a:hover{
    text-decoration: underline;

}

  